@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--accent-light: #00ccb3;
	--accent-dark: #234c5e;
	--foreground: ##27251f;
	--background: #ffffff;
	--font-family: 'Inter', sans-serif;
}

body {
	font-family: var(--font-family);
	background-color: var(--background);
	color: var(--foreground);
}
