@tailwind base;
@tailwind components;
@tailwind utilities;

/* DETAILS elements, used as nav panes */
details > summary {
	@apply list-none;
}
details > summary::-webkit-details-marker {
	@apply hidden;
}
details > summary {
	@apply cursor-pointer hover:bg-figma-color-bg-hover focus:bg-figma-color-bg-pressed open:bg-figma-color-bg-pressed;
}

label,
select,
input[type='checkbox'] {
	@apply cursor-pointer select-none;
}
